.user-row .custom-cell {
  font-family: "Poppins Regular";
}

.user-row:hover {
  background-color: #c3c3c3;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><circle cx="12" cy="12" r="8" fill="purple" /></svg>'),
    auto;
}
