.error {
  font-weight: 900;
  font-size: 60px;
  font-family: "Poppins Regular";
}

.unauthorized-page {
  padding-top: 220px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
